*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(225, 189, 189);
}
.App {
  text-align: center;
}
.user-details{
  display:flex;
  margin-top:8rem;
  justify-content: center;
}
.text{
  text-align: left;
}
span{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
  color:rgb(0, 34, 255);
}
AppBar{
  background-color:rgb(235, 179, 179);
}
.table-data{
  display:flex;
  padding-top:5rem;
  

  margin-left:auto;
  margin-right:auto;
  width:50%;
}
.row-actions{
  display:flex;
  justify-content: flex-start;
}
.textField-add{
  margin-top:4rem;
}
.textField-edit{
  margin-top:5rem;
}
.textField-h2{
  margin-bottom: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}
h1{
 
 position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  font-size:3rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rebeccapurple;
}